

*, *:before, *:after {
   box-sizing: border-box; 
   user-select: none;
-moz-user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(223, 200, 222, 0.678);
  
  
 
}


.wiggle{
  animation: wiggle 2s linear infinite;
}

.header {
  position: absolute;
  margin: 5vw 0 5vw 0;
  left: 39%;
  background: linear-gradient(rgb(255, 171, 184),rgb(15, 131, 77));
  padding: 15vw 0 4vw 3vw;
  width: 24vw;
  text-align: left;
  box-shadow: inset   1px 2px 12px 2px rgba(28, 31, 31, 0.548);
  color: rgba(0, 0, 0, 0.975);
  font-family: 'Yaldevi', sans-serif;
  font-size: 3vw;
  border: 2px solid rgb(166, 182, 211);
}




h4{
  position: absolute;
  margin: 13vw 0 0 30vw;
  font-family: 'Yaldevi', sans-serif;
  font-size: 4vw;
  color:rgba(255, 255, 255, 0.735);
}
p{
  position: absolute;
  margin: 68vw 0 0 47vw;
  color: rgb(255, 255, 255);
  font-size: 2vw;
}
h2{
  position: absolute;
  font-family: 'Yaldevi', sans-serif;
   top: 98vw;
   background:linear-gradient( rgba(235, 200, 200, 0.584), rgba(255, 139, 251, 0.598));
   font-size: 2vw;
   right: 15%;
   width: 70%;
   color: rgb(28, 90, 223);
   /* box-shadow:    1px 2px 12px 2px rgba(28, 31, 31, 0.625); */
   padding: 3vh;
   line-height: 1.8;
   box-shadow:    1px 2px 12px 2px rgba(28, 31, 31, 0.331);
}
img {
  width: 100%;
  background: linear-gradient(rgba(218, 199, 235, 0.317),rgb(0, 165, 127));
  
 
}
.quote {
  margin: 52vw 0 0 25vw;
  text-align: center;
  width: 50%;
 
  
}
.newquote {
  position: relative;
  z-index: 20;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin: 2vw 0 0 0;
 
}

.newquote:hover {
  background-color: rgb(140, 153, 196);
}

h3 {
  position: absolute;
  margin: 78vw 0 0 40vw;
  font-size: 4vw;
  font-family: 'Yaldevi', sans-serif;
   color: rgb(222, 211, 221);
}

.canvasimg {
  padding: 73vw 0 0 0;
  z-index: -1;
  margin: -1vw 0 0 0;
  background: linear-gradient(rgb(240, 209, 216),rgb(0, 165, 127));
}


.hint {
  margin: -70vw 0 0 3vw;
  width: 15%;
  font-size: 1.5vw;
}

.picasso {
  margin: -32vw 0 0 0;
  font-size: 5vw;
  font-family: 'Yaldevi', sans-serif;
  background:linear-gradient(rgba(228, 186, 193, 0.856),rgba(255, 60, 0, 0.249));
  padding: 13vw;
  width: 100%;
  
  color: rgb(0, 0, 0);
 
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}



.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  color: pink;
  border: .1vmin solid pink;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: rgba(255, 255, 255, 0.283);
  border: .1vmin solid rgb(255, 190, 201);
  border-radius: 1vmin;
  width: 90%;
  margin:3vw auto;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: rgb(32, 240, 115);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 1px solid #e10000;
  border-radius: .5vmin;
  color: rgb(2, 2, 2);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: rgb(4, 0, 255);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: pink;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}



button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}


@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


  
.Menu {
  width: 45vw;
  height: 7vw;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background: linear-gradient(rgba(138, 175, 187, 0.934), rgba(243, 30, 250, 0.42));
  position: absolute;
  margin: -50vw 0 0 43vw;


  
}

label {
  font-size: 1vw;
  color: rgb(0, 0, 0);
  
}

.picker {
  border: 1.5px solid rgb(221, 255, 0);
  background-color:rgba(255, 255, 255, 0.584);

}

canvas {
  position: relative;
  top: -53vw;
  background-color: rgb(255, 255, 255);
  z-index: 20;
  margin: 0 0 0 1vw;
  height: 31vw;
  width: 51vw;
}

input[type="range"] {  
  accent-color: #f4b7a048;
  width: 6vw;
  
  
}

.clear {
  position: absolute;
  margin:-45vw 0 0 -36vw;
  background-color:rgba(146, 184, 184, 0.336);
}

